/* Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* General */

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    padding-bottom: 4px grey;
    background: rgb(74, 208, 190);
    width: 100%;
}

.menu {
    list-style: none;
}

.menu-items {
    display: inline;
    padding-left: 2rem;
    font-weight: 100;
}

.menu-items:last-child {
    padding-right: 1rem;
}

.menu-items:focus,
.menu-items:hover {
    color: rgb(248, 248, 47);
}

.logo {
    margin: 1rem;
    padding-left: 1rem;
    letter-spacing: 2px;
    font-weight: 200;
}

.cta {
    font-size: 5rem;
    padding: 4rem 0;
}

.body {
    font-size: 1.5rem;
    color: rgb(74, 208, 190);
    font-weight: 100;
}

.hero {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr;
    color: rgb(32, 174, 155);
    padding: 3rem;
}

.col {
    height: 90vh;
    display: block;
}

img {
    width: 100%;
    min-width: 350px;
    margin: 2rem;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 3rem;
    border-radius: 25px;
    padding: 1rem 2rem;
    background-color: rgb(74, 208, 190);
    width: fit-content;
    transition: 1s;
}

a:checked,
a:visited {
    color: white;
}

a:focus,
a:hover {
    background-color: rgb(248, 248, 47);
}

@media (max-width: 700px) {
    .hero {
        grid-template-columns: 1fr;
    }

    img {
        padding: 0;
        margin: 0;
    }
}